
.infohandler-container {
    padding: 40px;
}

.infohandleraction-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.infohandlerSearch-container {
    margin-right: 10px; 
}

.searchInput .ant-input,
.searchInput .ant-input-search-button {
    font-family: 'Saira Condensed', sans-serif;
    border-radius: 25px;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.addButton-container Button {
    height: 2.4rem;
}
.searchInput {
    width: 300px;
}

.idolSearch,
.groupSearch {
    composes: searchInput;
}

.table-container .ant-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .table-container .ant-pagination-item,
  .table-container .ant-pagination-prev,
  .table-container .ant-pagination-next {
    margin-right: 0.5rem;
  }
  
  .table-container .ant-pagination-options {
    margin-left: auto; 
  }
  
  .ant-table-thead > tr > th {
    background-color: rgb(185,59,61) !important; 
    color: white !important; 
    font-size: 17px;
}

.addButton-container Button {
    background-color: green;
    color: white;
    width: 130px;
    font-size: 25px;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
