 .newsForm-container {
    display: flex;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    background-color: #f5f5f5;
    height: 100vh;
 }

 .newsForm-subContainer {
    padding: 16px;
    display: flex;
    /* border: 2px solid rgb(166, 14, 14); */
    flex-direction: row;
    gap: 60px;
    padding-left: 35px;
    padding-right: 35px;
 }

 .newsForm-box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(0, 0, 0); */
    flex: 1
 }

 .newsForm-subContainer1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    /* border: 2px solid rgb(166, 14, 14); */
    display: flex;
    flex-direction: column;
 }

 .heading {
    font-size: 30px;
 }

 