.usermanage-container {
    width: calc(95% - 300px);
    padding: 20px;
}

.action-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px;
}

.dashboardSearch-container {
    margin-right: 10px; /* Space between search and button */
}

.dashboardSearch {
    width: 300px;
}

.dashboardSearch .ant-input {
    font-family: 'Saira Condensed', sans-serif;
    border-radius: 25px;
    box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.dashboardSearch .ant-input-search-button {
    border-radius: 25px;
}
